<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Author Detail</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="wrapper">
        <h1>{{current_author.first_name}} {{current_author.last_name}}</h1>

        <h3>ID : {{current_author.id}}</h3>

        <p><h3>Notes</h3> {{current_author.notes}} </p>

        <h3>Books</h3>

        <ul>
            {% for book in current_author.books.all %}
                <li>{{ book.title }}</li>
            {% endfor %}

        </ul>

        <form action="/add_book/" method="post">
            {% csrf_token %}
            <label for="new_book">Select a Book:</label>
            <select name="new_book" id="new_book">
                {% for book in book_list %}
                    <option value="{{book.id}}">{{book.title}}</option>
                {% endfor %}

            </select>
            <input type="hidden" name = "author_id" value="{{current_author.id}}">
            <button type="submit">Add</button>
        </form>


    </div>


</body>
</html>